.copyright {
    display: flex;

    &__year {
        font-size: 48px;
        font-weight: 600;
        line-height: 0.63;
        color: #ffffff19;
        padding-right: 60px;
    }
    &__name {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        color: #ffffff;
    }
    &__desc {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.88;
        color: #ffffff26;
        margin-top: 34px;

    }
    &__info {
    }
}

