.front {
    height: 100vh;
    min-height: 650px;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 50px;
    }
}