.nav {
    flex: 1;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-decoration: none;
    }

    &--footer {
        margin-bottom: 60px;
        justify-content: left;
    }
}

