.quote {
    display: flex;
    flex-direction: column;

    &__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.88;
        color: rgba($text-color, 0.6);
        padding-bottom: 25px;
    }
    &__author {

    }
}
