.scroll-down-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out all;
    &:hover {
        color: $main-color;
        fill: $main-color;
        transition: 0.2s ease-in-out all;
    }
    &__image {
        margin-left: 15px;
        width: 30px;
        height: 30px;
    }
    &__text {
        font-size: 18px;
        font-weight: 600;
    }
    &__icon {
        width: 30px;
        height: 30px;
    }
}
