.scroll-down-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-down-bottom__image {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
.scroll-down-button__text {
    font-size: 18px;
    font-weight: 600;
}
.scroll-down-bottom__icon {
    width: 30px;
    height: 30px;
}