.user-skills {
    padding: 120px 0 40px 11%;

    @include desktop {
        padding: 120px 0 10px 11%;
    }
    @include tablets {
        padding: 45px 0 10px;
    }

    &__item {
        margin-bottom: 40px;
        @include desktop {
        }
    }
}

