.user-info {
    text-align: center;

    &__desc {
        color: rgba($text-color, 0.6);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 33px;
        line-height: 1.67;
    }
    &__name {
        font-size: 72px;
        font-weight: 800;
        font-style: normal;
        line-height: 0.83;
    }
}
