.values__title-text {
    margin-bottom: 60px;
}
.values__container {
    padding: 160px 0 90px 27%;
    position: relative;
    background: url('../images/content/bag.jpg') -10% 65% no-repeat;
    /*
    &:before {
        position: absolute;
        content: url('../images/content/bag.jpg');
        left: -20px;
        bottom: 0;
        transform: translate(-15%, -22%);
    }*/
    
}