footer.footer
    .container.footer__container
        .footer__copyright
            .copyright
                .copyright__year &copy; 2019
                .copyright__info
                    .copyright__name Владимир<br />Астахов
                    .copyright__desc Личный сайт<br />веб разработчика
        .footer__data
            +nav('footer', menu)
            .footer__data-columns
                .footer__data-col
                    article.footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam
                    +socials('footer', socials)
                .footer__data-col
                    article.footer__text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem enim incidunt minima placeat similique veniam. Accusantium
                    .footer__ps Martin Goldwig