.parallax-footer
    .parallax-footer__item.parallax-footer__item--1
    .parallax-footer__item.parallax-footer__item--2
    .parallax-footer__item.parallax-footer__item--3
    .parallax-footer__item.parallax-footer__item--4
    .parallax-footer__item.parallax-footer__item--5
    .parallax-footer__item.parallax-footer__item--6
    .parallax-footer__item.parallax-footer__item--7
