.parallax-header
    .parallax-header__item
        +image('content/ph1.png', 'parallax-header__item-1')
    .parallax-header__item
        +image('content/ph2.png', 'parallax-header__item-2')
    .parallax-header__item
        +image('content/ph3.png', 'parallax-header__item-3')
    .parallax-header__item
        +image('content/ph4.png', 'parallax-header__item-4')
    .parallax-header__item
        +image('content/ph5.png', 'parallax-header__item-5')
    .parallax-header__item
        +image('content/ph6.png', 'parallax-header__item-6')
    .parallax-header__item
        +image('content/ph7.png', 'parallax-header__item-7')