.parallax-header
    .parallax-header__item.parallax-header__item--1
    .parallax-header__item.parallax-header__item--2
    .parallax-header__item.parallax-header__item--3
    .parallax-header__item.parallax-header__item--4
    .parallax-header__item.parallax-header__item--5
    .parallax-header__item.parallax-header__item--6
    .parallax-header__item.parallax-header__item--7