section.values
    .container.values__container
        .values__title
            h2.section-title.values__title-text.section-title--small Чем я могу быть вам полезен
            .values__desc
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur consequuntur facilis nisi, recusandae repellat! Asperiores delectus deserunt distinctio eaque iusto laborum natus nobis odit officiis, qui quidem rerum voluptate?
        #skills
        .values__bag
            +image('content/bag.png', 'values__bag-img')