
section.works
    .container.container--works
        .works__title
            h2.section-title Мои работы
        #slider-component
.triangles.triangles--second
    svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(
            points="0,0 1000,100 1000,0"
        )
    svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(
            points="0,0 0,100 1000,0"
        )