//- includes
include ./mixins.pug
//-variables
-
  var menu = [
    {'title' : 'Главная', 'link' : '#'},
    {'title' : 'Обо мне', 'link' : '#'},
    {'title' : 'Навыки', 'link' : '#'},
    {'title' : 'Работы', 'link' : '#'},
    {'title' : 'Отзывы', 'link' : '#'},
    {'title' : 'Связаться', 'link' : '#'},
  ];
-
  var socials = [
    {'name' : 'insta', 'link' : '#'},
    {'name' : 'vk', 'link' : '#'},
    {'name' : 'github', 'link' : '#'}
  ];

//- html

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    include templates/entry.pug
    .wrapper
      .maicontent
        .welcome-section
          include components/parallax-header
          include components/front
          include components/about

        include components/values
        include components/works

        .bottom-section
          include components/parallax-footer
          include components/reviews
          include components/form

        include components/footer